venv/
.venv/
build/
loader.egg-info/

# sensitive
.env
.env.sh
.env.example
.sens/
me.session
tests/unit/test_env.py
config_prod.sh
config_dev.sh
me.session-journal

# cache
*__pycache__
.mypy_cache
.ruff_cache
.pytest_cache
